<%= form_with(model: trapeze, local: true) do |form| %>
  <% if trapeze.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trapeze.errors.count, "error") %> prohibited this trapeze from being saved:</h2>

      <ul>
      <% trapeze.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lager_base %>
    <%= form.number_field :lager_base %>
  </div>

  <div class="field">
    <%= form.label :smaller_base %>
    <%= form.number_field :smaller_base %>
  </div>

  <div class="field">
    <%= form.label :lateral %>
    <%= form.number_field :lateral %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
