<p id="notice"><%= notice %></p>

<h1>Trapezes</h1>

<table>
  <thead>
    <tr>
      <th>Lager base</th>
      <th>Smaller base</th>
      <th>Lateral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trapezes.each do |trapeze| %>
      <tr>
        <td><%= trapeze.lager_base %></td>
        <td><%= trapeze.smaller_base %></td>
        <td><%= trapeze.lateral %></td>
        <td><%= link_to 'Show', trapeze %></td>
        <td><%= link_to 'Edit', edit_trapeze_path(trapeze) %></td>
        <td><%= link_to 'Destroy', trapeze, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trapeze', new_trapeze_path %>
