<p id="notice"><%= notice %></p>

<p>
  <strong>Lager base:</strong>
  <%= @trapeze.lager_base %>
</p>

<p>
  <strong>Smaller base:</strong>
  <%= @trapeze.smaller_base %>
</p>

<p>
  <strong>Lateral:</strong>
  <%= @trapeze.lateral %>
  <br>
  <%= @trapeze.height%>
  <br>
  <%= @trapeze.area %>
  <br>
  
</p>
<%=@trapeze.perimeter%>
<%= link_to 'Edit', edit_trapeze_path(@trapeze) %> |
<%= link_to 'Back', trapezes_path %>
